<div class="spotlight__wrapper spotlight__padding">
    <h6 class="title">Destaque:</h6>
    <div class="spotlight-box__wrapper">
        <img src="" width="70%">
        <div class="game-info">
            <span class="game-title">{{ spotlightGame.gameName }}</span>
            <span class="game-publisher">{{ spotlightGame.publisher }}</span>
            <span class="user-name">{{ spotlightGame.userName }}</span>
            <span class="price">{{ spotlightGame.price }}</span>
        </div>
    </div>
</div>
