<div class="spotlight__wrapper">
    <h6 class="title">Destaque</h6>
    <div class="spotlight-box__wrapper">
        <img class="spotlight-game__image" src="./assets/witcher3.jpg" width="60%">
        <div class="game-info">
            <span class="game-title">{{ spotlightGame.gameName }}</span>
            <span class="game-publisher">{{ spotlightGame.publisher }}</span>
            <span class="seller">Vendedor:</span>
            <span class="user-name">{{ spotlightGame.userName }}</span>
            <span class="price">{{ spotlightGame.price }}</span>
        </div>
    </div>
</div>
